<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>OFD.Register.users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlog</servlet-name>
        <servlet-class>OFD.Login.userlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>OFD.Login.adminlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reslog</servlet-name>
        <servlet-class>OFD.Login.reslog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restaurants</servlet-name>
        <servlet-class>OFD.Register.restaurants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateRes</servlet-name>
        <servlet-class>OFD.Actions.ActivateRes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectRes</servlet-name>
        <servlet-class>OFD.Actions.rejectRes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenu</servlet-name>
        <servlet-class>OFD.Actions.AddMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCardServlet</servlet-name>
        <servlet-class>servlet.ShoppingCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderaccept</servlet-name>
        <servlet-class>OFD.Actions.orderaccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderreject</servlet-name>
        <servlet-class>OFD.Actions.orderreject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuDel</servlet-name>
        <servlet-class>OFD.Actions.menuDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delreg</servlet-name>
        <servlet-class>OFD.Register.delreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dagentlog</servlet-name>
        <servlet-class>OFD.Login.dagentlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateDA</servlet-name>
        <servlet-class>OFD.Actions.ActivateDA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectDA</servlet-name>
        <servlet-class>OFD.Actions.rejectDA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DAorderAccept</servlet-name>
        <servlet-class>OFD.Actions.DAorderAccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>OFD.Actions.feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlog</servlet-name>
        <url-pattern>/userlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/adminlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reslog</servlet-name>
        <url-pattern>/reslog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restaurants</servlet-name>
        <url-pattern>/restaurants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateRes</servlet-name>
        <url-pattern>/ActivateRes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectRes</servlet-name>
        <url-pattern>/rejectRes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenu</servlet-name>
        <url-pattern>/AddMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCardServlet</servlet-name>
        <url-pattern>/ShoppingCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderaccept</servlet-name>
        <url-pattern>/orderaccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderreject</servlet-name>
        <url-pattern>/orderreject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuDel</servlet-name>
        <url-pattern>/menuDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delreg</servlet-name>
        <url-pattern>/delreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dagentlog</servlet-name>
        <url-pattern>/dagentlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateDA</servlet-name>
        <url-pattern>/ActivateDA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectDA</servlet-name>
        <url-pattern>/rejectDA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DAorderAccept</servlet-name>
        <url-pattern>/DAorderAccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
